@model CheckMyCode.Web.Areas.Projects.Models.FilesViewModel
@{
    ViewBag.Title = "Files";
}
<h1>@Model.Filename</h1>

<pre class="file">@Model.Content</pre>

<a href="javascript:history.back()" class="btn btn-info">Back</a>
@Html.ActionLink("Edit", "EditFile", new { fileId = Model.Id }, new { @class = "btn btn-default" })

@section styles{
    @Styles.Render("~/Content/snippet")
}

@section scripts{
    @Scripts.Render("~/bundles/snippet")
    <script>
        $("pre.file").snippet("@Model.LanguageType", {
                                  style: "emacs", collapse: true,
                                  startCollapsed: false
                              });
    </script>
}


