@model IEnumerable<CheckMyCode.Web.Areas.Projects.Models.ListProjectsViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Welcome to CheckMyCode!</h1>
</div>

<div class="container">
    <div class="row">
        <h2 class="col-md-6 text-center">Last 10 projects</h2>
        <h2 class="col-md-3 text-center col-lg-offset-1">By Language</h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            <hr />
            <div id="top10-list-results">
                @Html.Partial("_TopTenProjectListResult", Model)
            </div>
        </div>
        <div class="col-md-3 col-lg-offset-1">
            <hr />
            @{
                var numList = Enum.GetValues(typeof(CheckMyCode.Data.Models.LanguageType));
            }
            @foreach (var item in numList)
            {
        <div class="row">
            <h5 class="text-center">
                @if (@item.ToString() != "Unknown")
                {
                                    @Ajax.ActionLink(@item.ToString(),
                                        "ChangeLanguage",
                                        new { language = @item.ToString() },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "GET",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "top10-list-results"
                                        })
                }
            </h5>
        </div>
        <hr />
            }
        </div>
    </div>
</div>